<?xml version="1.0"?>


 <launch>
   <arg name="human" default="$(find cvg_sim_gazebo)/urdf/human.urdf.xacro"/>
  
   <!-- send the robot XML to param server -->
   <param name="human_description" command="$(find xacro)/xacro.py '$(arg human)'" />
   
   <!-- push robot_description to factory and spawn robot in gazebo -->
   <node name="spawn_human" pkg="gazebo_ros" type="spawn_model"
   args="-param human_description
   -urdf
   -model human"
     respawn="false" output="screen"/>

 </launch>
   
